.nav {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  position: fixed;
  bottom: 0;
  left: 0;
  height: 66px;
  width: 100%;
  background-color: #FFF;
  z-index: 10;
  &__text {
    justify-self: center;
    margin: 40px 0 0;
    text-align: center;
  }
}

@media (min-width: 770px) {
  .nav {
    display: flex;
    position: relative;
    width: auto;
    height: auto;
    margin-right: 24px;
    &__text {
      display: none;
    }
  }
}

@mixin background($url) {
  background-image: $url;
  background-repeat: no-repeat;
  background-position: center 14px;
}

.nav__link {
  text-decoration: none;
  color: #98A2B3;
  &_type_account {
    @include background(url("/assets/icon/account.svg"));
  }
  &_type_browse {
    @include background(url("/assets/icon/browse.svg"));
  }
  &_type_cart {
    @include background(url("/assets/icon/cart.svg"));
  }
  &_type_home {
    color: #7F56D9;
    @include background(url("/assets/icon/home-active.svg"));
  }
  &_type_search {
    @include background(url("/assets/icon/search-nav.svg"));
  }
}

@media (min-width: 770px) {
  .nav__link {
    width: 20px;
    height: 20px;
    margin-left: 41px;
    background-position: center center;
    &_type_home {
      display: none;
    }
    &_type_browse {
      display: none;
    }
  }
}